@import 'colors.styl'
@import 'grid.styl'
@import 'header.styl'
@import 'welcome-info.styl'
@import 'products.styl'
@import 'feed.styl'
*
	margin 0
	padding 0
	box-sizing border-box
body
	background COLOR_BRAND_LIGHT_GREY
img
	display block
	max-width 100%
h1, h2
	margin-bottom 25px
	letter-spacing .1px
	font 400 25px / 1.2 TimesNewRoman
h2
	font-size 20px
a
	text-decoration none
	color inherit

.custom-list
	list-style-type none
li
	list-style-position inside
.center-block
	display table
	margin auto
.shadowed
	position relative
	box-shadow 0 2px 10px 0 rgba(COLOR_BRAND_BLACK, .2)
.orange-button
	padding 7px 11px
	text-align center
	text-transform uppercase
	color COLOR_BRAND_WHITE
	border none
	border-radius 5px
	cursor pointer
	outline none
	background COLOR_BRAND_ORANGE
a.nav-link
	color COLOR_BRAND_LIGHT_BROWN
	font 400 14px / 1.4 Arial
.dots-wrapper
	display flex
	justify-content space-between
.dotline
	max-width 450px
	margin 40px 0
	border-top 2px dotted COLOR_BRAND_LIGHT_GREY2
.image-block
	padding 3px
	border 1px solid COLOR_BRAND_LIGHT_GREY1
	box-shadow 5px 5px 5px 0 rgba(COLOR_BRAND_BLACK, .05)
	background COLOR_BRAND_WHITE
	&.squared
		border 1px solid COLOR_BRAND_DARK_WHITE
	&.rounded
		border-radius 50%


@media (max-width 900px)
	.dotline
		max-width 100%