COLOR_BRAND_ORANGE = #eb6c10
COLOR_BRAND_LIGHT_ORANGE = #ec8438

COLOR_BRAND_BLACK = #000
COLOR_BRAND_DARK_BLACK = #1d1916
COLOR_BRAND_LIGHT_BLACK = #504f4f

COLOR_BRAND_WHITE = #fff
COLOR_BRAND_DARK_WHITE = #f3f2f2

COLOR_BRAND_DARK_BROWN = #85423f
COLOR_BRAND_LIGHT_BROWN = #e1837f
COLOR_BRAND_LIGHT_BROWN2 = #826660
COLOR_BRAND_LIGHT_BROWN3 = #79302b
COLOR_BRAND_LIGHT_BROWN4 = #5d0400

COLOR_BRAND_LIGHT_GREY = #f2f0f0
COLOR_BRAND_LIGHT_GREY1 = #e6e4e4
COLOR_BRAND_LIGHT_GREY2 = #b3adad
COLOR_BRAND_LIGHT_GREY3 = #d9d8d8