.container-fluid
	width 100%
	padding 0 15px
	margin auto
.row
	margin 0 -15px
.container
	max-width 940px
	margin auto
	padding 0 15px
.col
	width 48%
.wrapper
	display flex
	justify-content space-between
	flex-wrap wrap

@media (max-width 600px)
	.col
		width 100%
	.col-3
		width 50%
	.hidden-600px
		display none

