.container-fluid
	width 100%
	padding 0 15px
	margin auto
.row
	margin 0 -15px
.container
	max-width 940px
	margin auto
	padding 0 15px
.col
	width 48%



@media (max-width 900px)
	.col
		width 100%
	.col-3
		width 50%
	.hidden-900px
		display none

