.main-header
	.orange-line
		width 100%
		height 2.5rem
		background COLOR_BRAND_ORANGE
	.fluid-img img
		width 100%
		height 100%
	.menu
		position relative
		display flex
		padding 2rem 0
	.logo
		margin-right 80px
		img
			display block
	.custom-list
		li
			display inline-block
			padding 6px 8px
			transition .3s
			color COLOR_BRAND_DARK_BROWN
			&.active, &:hover
				border-radius 6px
				color COLOR_BRAND_WHITE
				background COLOR_BRAND_ORANGE
			a
				display block
				font 400 18px / 1.2 Arial
				letter-spacing .2px
				text-transform uppercase

	#hamburger, .menuicon
		display none
@media (max-width: 600px)
	#app .menuicon
		position absolute
		display block
		top 50%
		transform translateY(-50%)
		right 15px
		width 30px
		cursor pointer
	#app .center-block
		display none
	#hamburger:checked
		& ~ .center-block
			display block
			position fixed
			width 250px
			height 100%
			top 0
			left 0
			background rgba(COLOR_BRAND_BLACK, .5)
			li
				display block
				color COLOR_BRAND_WHITE
