
.welcome-info
	h1
		color COLOR_BRAND_LIGHT_BROWN4
	.content-block
		width 58%
	.right-content
		width 42%
	.dots-wrapper
		margin-top 6.5rem
	.content
		display flex
		align-items flex-start
	.image-block
		display inline-block
		border-radius 50%
		img
			max-width 165px
			border-radius 50%
	.text-block
		display inline-block
		margin-left 3.5rem
		p
			word-wrap break-word
			font 400 14px / 1.5 Arial
			&:last-of-type
				margin-top 22px
	.orange-button
		margin-top 15px
	li
		position relative
		font 400 14px / 1 Arial
		padding-left 10px
		&:before
			position absolute
			content "•"
			left 0
			color COLOR_BRAND_LIGHT_BROWN4
		&:not(:first-of-type)
			margin-top 8px

@media (max-width 700px)
	.welcome-info
		.text-block
			margin-top 1.5rem
		.right-content
			margin-top 2.0rem
		.content
			flex-wrap wrap
			justify-content center
