@font-face
	font-family 'Notosans'
	src url('../../fonts/notosans/NotoSans-Regular.eot')
	src url('../../fonts/notosans/NotoSans-Regular.eot?#iefix') format('embedded-opentype')
		url('../../fonts/notosans/NotoSans-Regular.woff2') format('woff2')
		url('../../fonts/notosans/NotoSans-Regular.woff') format('woff')
		url('../../fonts/notosans/NotoSans-Regular.ttf') format('truetype')
	font-weight 400
	font-style normal