@font-face
	font-family 'Times New Roman'
	src url('../../fonts/timesnewroman/TimesNewRoman-Regular.eot')
	src url('../../fonts/timesnewroman/TimesNewRoman-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/timesnewroman/TimesNewRoman-Regular.woff2') format('woff2'),
		url('../../fonts/timesnewroman/TimesNewRoman-Regular.woff') format('woff'),
		url('../../fonts/timesnewroman/TimesNewRoman-Regular.ttf') format('truetype')
	font-weight 400
	font-style normal